
@media screen and (min-width: 768px) {
  nav {
    margin: 0 10%;
  }
  nav ul li {
    width: 19%;
  }

  nav ul li:not(:last-child) {
    margin-right: 8%;
  }

  main, aside {
    display: inline-block;
    vertical-align: top;
  }

  main {
    width: 50%;
    margin: 20px 5% 0 10%;
  }

  aside {
    width: 25%;
    margin: 70px 10% 20px 0;
  }

  form ul {
    width: 50%;
    margin: 0 25%;
  }

  table {
    width: 80%;
    margin: 0 10%;
  }
}
